Repository amarcoder01/typemaster_final: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, npm-audit

eslint:
  name: üìù ESLint - TypeScript/JavaScript
  entry: npx eslint --fix
  language: system
  pass_filenames: true
  require_serial: true
  stages:
  - commit

typescript-check:
  name: üìò TypeScript Type Check
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - commit

npm-audit:
  name: üîí NPM Security Audit
  entry: bash -c 'npm audit --audit-level=high || true'
  language: system
  pass_filenames: false
  stages:
  - commit

Improve challenge share options in standard mode
  client/src/components/typing-test.tsx
Due: eslint

Show duration on freestyle typing certificate
  client/src/components/certificate-generator.tsx
Due: eslint

Fix mobile share tabs overlap in standard results
  client/src/components/typing-test.tsx
Due: eslint

f
  client/src/pages/code-mode.tsx
Due: eslint

the fix patc
  client/src/pages/race.tsx
  package.json
  server/app.ts
  server/notification-service.ts
  server/routes.ts
  server/storage.ts
  server/websocket.ts
Due: eslint, npm-audit

m
  client/src/pages/ai-transparency.tsx
  client/src/pages/race.tsx
  server/app.ts
  server/elo-rating-service.ts
  server/routes.ts
  server/storage.ts
  server/websocket.ts
  shared/schema.ts
Due: eslint

f
  client/src/pages/multiplayer.tsx
  client/src/pages/race.tsx
  server/bot-retry-service.ts
  server/routes.ts
  server/storage.ts
  server/websocket.ts
Due: eslint

f
  client/src/pages/race.tsx
  server/elo-rating-service.ts
  server/websocket.ts
Due: eslint

f
  .env.example
  client/src/components/leaderboard/LeaderboardFilters.tsx
  client/src/components/leaderboard/LeaderboardTable.tsx
  client/src/hooks/useLeaderboardWebSocket.ts
  client/src/lib/leaderboard-api.ts
  client/src/lib/leaderboard-config.ts
  client/src/pages/leaderboard.tsx
  client/src/pages/unified-leaderboard.tsx
  server/index.ts
  server/jobs/leaderboard-batch-processor.ts
  server/jobs/schedule-leaderboard-refresh.ts
  server/leaderboard-around-me-cache.ts
  server/leaderboard-cache.ts
  server/leaderboard-connection-registry.ts
  server/leaderboard-event-stream.ts
  server/leaderboard-message-queue.ts
  server/leaderboard-metrics.ts
  server/leaderboard-update-dispatcher.ts
  server/leaderboard-websocket.ts
  server/redis-client.ts
  server/routes.ts
  server/seed/generators/rating-generator.ts
  server/seed/index.ts
  server/storage.ts
  shared/leaderboard-filters.ts
  shared/leaderboard-types.ts
Due: eslint

f0
  client/src/components/back-button.tsx
  client/src/components/layout.tsx
  client/src/index.css
  client/src/pages/chat.tsx
  client/src/pages/profile-edit.tsx
  client/src/pages/profile.tsx
  server/app.ts
  server/chat-service.ts
  server/routes.ts
Due: eslint

f
  client/src/pages/profile.tsx
Due: eslint

Add Cloudflare Supercloud deployment configuration
  .dev.vars.example
  .gitignore
  CLOUDFLARE_DEPLOYMENT.md
  client/public/_headers
  client/public/_redirects
  package.json
  server/cloudflare-worker.ts
  server/cloudflare/leaderboard-ws-do.ts
  server/cloudflare/race-room-do.ts
  wrangler.jsonc
Due: eslint, npm-audit

Add Windows ARM64 deployment note
  CLOUDFLARE_WINDOWS_NOTE.md
Due: none

Update package-lock.json with Cloudflare dependencies
  package-lock.json
Due: npm-audit

Remove bufferutil from optionalDependencies to fix Cloudflare build
  package-lock.json
  package.json
Due: npm-audit

Fix JSON syntax error in package.json
  package-lock.json
  package.json
Due: npm-audit

Fix Cloudflare deployment: update worker name to typemaster and make KV/R2 optional
  server/cloudflare-worker.ts
  wrangler.jsonc
Due: eslint

Add deployment fixes documentation
  DEPLOYMENT_FIXES.md
Due: none

Add Fly.io deployment configuration and documentation
  .dockerignore
  .flyignore
  Dockerfile
  FLY_DEPLOYMENT.md
  fly.toml
  package.json
Due: npm-audit

Add Fly.io quick start guide
  FLY_QUICKSTART.md
Due: none

f
  server/cloudflare/leaderboard-ws-do.ts
  server/cloudflare/race-room-do.ts
  wrangler.jsonc
Due: eslint

Fix Cloudflare deployment: remove queue handler until queues are created
  server/cloudflare-worker.ts
Due: eslint

Fix _redirects infinite loop: remove SPA fallback rule handled by wrangler.jsonc
  client/public/_redirects
Due: none

Remove CPU limits and smart placement - requires paid Cloudflare plan
  wrangler.jsonc
Due: none

Add Cloudflare secrets bulk upload support with npm run cf:secrets:bulk
  .env.cloudflare.example.json
  .gitignore
  CLOUDFLARE_DEPLOYMENT.md
  package.json
Due: npm-audit

Fix Cloudflare Worker: proxy API requests to Fly.io backend
  server/cloudflare-worker.ts
  wrangler.jsonc
Due: eslint

Update BACKEND_URL to Render.com for easier deployment
  wrangler.jsonc
Due: none

f
  .env.cloudflare.example.json
  .gitignore
  CLOUDFLARE_DEPLOYMENT.md
  client/src/pages/home.tsx
  package.json
Due: eslint, npm-audit

New files from Fly.io Launch
  Dockerfile
  fly.toml
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  typescript-check: any of: \.(ts|mts|cts)$ and \.tsx$
  npm-audit: any of: package\.json$|package-lock\.json$
